
@font-face {
    font-family: NRT;
    src: url(../fonts/NRT.ttf);
}


@font-face {
    font-family: rasty;
    src: url(../fonts/rasty.ttf);
}


*{
    font-family: rasty !important;
}

body{
    margin: 0 !important;
}
